.crew{
    &-content{
        padding-top: 76px;
        padding-left: 166px;
        max-height: 828px;
    }

    &-text{
        color: var(--white);
        font-weight: 400;

        &-number{
            color: hsl(228, 6%, 33%);
            font-weight: 700;
            padding-right: 24px;
        }

        &-main{
            padding-bottom: 154px;
        }
    }

    &-role{
        color: hsl(0, 100%, 100%, 50.42%);
    }

    &-name{
        padding-top: 15px;
        padding-bottom: 16px;
    }

    &-details{
        height: 128px;
        width: 444px !important;
        color: var(--purple);
        margin-bottom: 120px;
    }

    &-menu{
        button{
            height: 15px;
            width: 15px;
            border-radius: 50%;
            background-color: hsl(0, 100%, 100%, 17.44%);
            border: none;

            cursor: pointer;
            margin-right: 24px;

            transition: background-color 150ms ease-in-out;

            &:last-child{
                margin-right: 0;
            }

            &:hover{
                background-color: hsl(0, 100%, 100%, 50.01%)
            }
        }

        &-active{
            background-color: var(--white) !important;
        }
    }

    &-inactive{
        display: none;
    }

    &-active{
        display: block;
    }

    &-image{
        &-1{
            margin-right: 137px;
        }

        &-2{
            margin-top: 48px;
            margin-right: 187px;
        }

        &-3{
            margin-top: 43px;
            margin-right: 143px;
        }

        &-4{
            margin-top: 86px;
            margin-right: 89px;
        }
    }
}

@media screen and (max-width: 767px){
    .crew{
        &-content{
            padding: 24px 24px 0 24px;
        }

        &-text{
            &-main{
                padding-bottom: 32px;
            }
        }

        &-role{
            font-size: 16px;
        }

        &-name{
            font-size: 24px;

            padding-top: 8px;
            padding-bottom: 16px;
        }

        &-details{
            height: auto;
            width: auto !important;
            margin-bottom: 0;
        }

        &-menu{
            justify-content: center;
            margin-top: 32px;
            margin-bottom: 32px;

            button{
                height: 10px;
                width: 10px;

                margin-right: 16px;
            }
        }

        &-mobile{
            flex-direction: column;

            &-image{
                display: flex;
                justify-content: center;

                &-border{
                    border-bottom: 1px solid #383B4B;
                }
            }

            &-reverse{
                display: flex;
                flex-direction: column-reverse;
            }
        }

        &-info{
            &-mobile{
                display: flex;
                justify-content: center;
                text-align: center;
            }
        }

        &-image{
            position: relative;
            &-1{
                height: 222px;
                width: auto;
                margin: 0;
            }
    
            &-2{
                height: 222px;
                width: auto;
                margin: 0;
            }
    
            &-3{
                height: 222px;
                width: auto;
                margin: 0;
            }
    
            &-4{
                height: 223px;
                width: auto;
                margin: 0;
            }
        }
        
    }
}

@media screen and (min-width: 768px) and (max-width: 1439px){
    .crew{
        &-content{
            padding: 40px 39px 0 39px;
        }

        &-text{    
            &-number{
                padding-right: 16px;
            }
    
            &-main{
                padding-bottom: 60px;
            }
        }

        &-details{
            height: 84px;
            margin-bottom: 40px;
        }

        &-menu{
            justify-content: center;
            margin-bottom: 40px;

            button{
                height: 10px;
                width: 10px;

                margin-right: 16px;
            }
        }

        &-image{
            &-1{
                height: 572px;
                width: auto;
                margin: 0;
                object-position: 0 40px;
            }
    
            &-2{
                height: 531px;
                width: auto;
                margin: 0;
            }
    
            &-3{
                height: 532px;
                width: auto;
                margin: 0;
            }
    
            &-4{
                height: 532px;
                width: auto;
                margin: 0;
            }
        }

        &-mobile{
            flex-direction: column;

            &-image{
                display: flex;
                justify-content: center;
            }
        }

        &-info{
            &-mobile{
                display: flex;
                justify-content: center;
                text-align: center;
            }
        }
    }
}