:root{
    --white: hsl(0, 0, 100, 100%);
    --purple: hsl(231, 76%, 90%);
    --dblue: hsl(229, 35, 7, 100%);

    --black: hsl(0, 0, 0, 100%);
    --grey: hsl(230, 10, 42, 100%);
    --dwhite: hsl(0, 0, 100, 4%);

    --hover: hsl(0, 0, 59, 100%);
    --menu : hsl(231, 77%, 90%);
}