@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');

$font1: 'Bellefair', serif;
$font2: 'Barlow Condensed', sans-serif;

h1, h2, h3, h4, h5, h6, p{
    font-weight: 400;
}

h1{
    font-family: $font1;
    font-size: 150px;
    color: var(--white);
}

h2{
    font-family: $font1;
    font-size: 100px;
    color: var(--white);
}

h3{
    font-family: $font1;
    font-size: 56px;
    color: var(--white);
}

h4{
    font-family: $font1;
    font-size: 32px;
    color: var(--white);
}

h5{
    font-family: $font2;
    font-size: 28px;
    letter-spacing: 4.75px;
    color: var(--purple);
}

.sub{
    &-h1{
        font-family: $font1;
        font-size: 28px;
        color: var(--white);
        font-weight: 400;
    }

    &-h2{
        font-family: $font2;
        font-size: 14px;
        letter-spacing: 2.35px;
        color: var(--white);
        font-weight: 400;
    }
}

.nav{
    &-text{
        font-family: $font2;
        font-size: 16px;
        letter-spacing: 2.7px;
        color: var(--white);
        font-weight: 400;
    }
}

p{
    font-family: $font2;
    font-size: 18px;
    color: var(--white);
}

@media screen and (max-width: 767px){
    h2{
        font-size: 56px;
    }

    h5{
        font-size: 16px;
        letter-spacing: 2.7px;
    }

    p{
        font-size: 15px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1439px){
    h5{
        font-size: 20px;
        letter-spacing: 3.38px;
    }

    p{
        font-size: 16px;
    }
}