@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

$font1: 'Bellefair', serif;
$font2: 'Barlow Condensed', sans-serif;

h1{
    font-family: $font1;
    font-size: 150px;
    color: var(--white);
}

h2{
    font-family: $font1;
    font-size: 100px;
    color: var(--white);
}

h3{
    font-family: $font1;
    font-size: 56px;
    color: var(--white);
}

h4{
    font-family: $font1;
    font-size: 32px;
    color: var(--white);
}

h5{
    font-family: $font2;
    font-size: 28px;
    letter-spacing: 4.75;
    color: var(--purple);
}

.sub{
    &-h1{
        font-family: $font1;
        font-size: 28px;
        color: var(--white);
    }

    &-h2{
        font-family: $font2;
        font-size: 14px;
        letter-spacing: 2.35;
        color: var(--white);
    }
}

.nav{
    &-text{
        font-family: $font2;
        font-size: 16px;
        letter-spacing: 2.7;
        color: var(--white);
    }
}

p{
    font-family: $font2;
    font-size: 18px;
    color: var(--white);
}