@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
h1 {
  font-family: "Bellefair", serif;
  font-size: 150px;
  color: var(--white);
}

h2 {
  font-family: "Bellefair", serif;
  font-size: 100px;
  color: var(--white);
}

h3 {
  font-family: "Bellefair", serif;
  font-size: 56px;
  color: var(--white);
}

h4 {
  font-family: "Bellefair", serif;
  font-size: 32px;
  color: var(--white);
}

h5 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 28px;
  letter-spacing: 4.75px;
  color: var(--purple);
}

.sub-h1 {
  font-family: "Bellefair", serif;
  font-size: 28px;
  color: var(--white);
}
.sub-h2 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 14px;
  letter-spacing: 2.35px;
  color: var(--white);
}

.nav-text {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  letter-spacing: 2.7px;
  color: var(--white);
}

p {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 18px;
  color: var(--white);
}

html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--white);
}

.flex {
  display: flex;
}
.flex-justcont-c {
  justify-content: center;
}
.flex-justcont-sb {
  justify-content: space-between;
}
.flex-alignit-c {
  align-items: center;
}

.home-bg {
  height: 100vh;
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-content {
  position: absolute;
  top: 0;
  left: 0;
}

.page-padding {
  width: 100vw;
  padding: 40px 0 0 55px;
}

.header li {
  list-style: none;
}
.header-logo {
  width: 48px;
}
.header-nav {
  padding-left: 123px;
}
.header-nav-custom {
  height: 96px;
  width: 830px;
  align-self: end;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
.header-nav-link {
  font-weight: 700;
}
.header-nav-each {
  height: 96px;
  margin-right: 48px;
  background: none;
  border: none;
  border-bottom: 3px solid transparent;
  margin-bottom: -3px;
  transition: all 150ms ease-in-out;
  cursor: pointer;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  letter-spacing: 2.7px;
  color: var(--white);
}
.header-nav-each:hover {
  border-bottom: 3px solid #979797;
}
.header-nav-each-last {
  margin-right: 0;
}
.header-nav-each-active {
  border-bottom: 3px solid #ffffff !important;
}

@media screen and (max-width: 767px) {
  .dn-mob {
    display: none;
  }
  .page-padding {
    padding: 24px 24px 0 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .dn-med {
    display: none;
  }
  .page-padding {
    padding: 24px 48px 0 39px;
  }
  .header-nav {
    padding-left: 48px;
  }
  .header-nav-custom {
    height: 96px;
    width: 450px;
    align-self: end;
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
  }
  .header-nav-each {
    margin-right: 35px;
    font-size: 14px;
    letter-spacing: 2.35px;
  }
}
@media screen and (min-width: 1440px) {
  .dn-desk {
    display: none;
  }
}
:root {
  --white: hsl(0, 0, 100, 100%);
  --purple: hsl(231, 77, 90, 100%);
  --dblue: hsl(229, 35, 7, 100%);
  --black: hsl(0, 0, 0, 100%);
  --grey: hsl(230, 10, 42, 100%);
  --dwhite: hsl(0, 0, 100, 4%);
  --hover: hsl(0, 0, 59, 100%);
}/*# sourceMappingURL=style.css.map */